
html {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 40px;
  height: 100%;
  width: 100%;
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: scroll;
  height: 100%;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 2.0rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25;
}

h2 {
  margin-top: 1em;
  border-width: 0 0 thin 0;
  border-style: solid;
  border-color: black;
}

h2.badge {
  font-size: 1.0rem;
  margin-top: 1em;
  border-width: 0 0 thin 0;
  border-style: solid;
  border-color: black;
}

h3 {
  font-size: 1.6666rem;
  margin-top: 0.5rem;
}

h4 {
  text-decoration: underline;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

h1 + hr:not([size]) {
  height: 2px;
  margin-top: 0.25rem;
  margin-bottom: 0px;
}

h3 + hr:not([size]) {
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  height: 1.5px;
}

hr.overload {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  opacity: 0.75;
}

.breadcrumb {
  margin: 0;
}

.breadcrumb-item+.breadcrumb-item {
  font-weight: bold;
  padding: 0;
}

.breadcrumb-item+.breadcrumb-item::before {
  font-weight: bold;
  padding: 0 0.5rem;
  content: "::";
}

.breadcrumb a {
  color: white;
}

.breadcrumb li.active {
  color: lightgrey;
}

.scroll-y {
    overflow: scroll;
}

.section4 {
  padding: 0 24px;
}

.section4 h4 {
  margin: 0 -24px;
}

.navbar-custom {
    height: 40px;
    border-width: 0 0 5px;
    border-color: black;
}

dl {
  display: flex;
  flex-flow: column wrap;
}

dt {
  font-weight: bold;
  padding: 0 0.5em;
}

dt::after {
    content: " :";
}

dd {
  padding: 0 2em;
}

.highlight {
  margin: 0.5em 0;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 5px 10px 0px;
}

pre code.hljs {
  padding: 0.25rem 0.5rem;
}

