
.toppage {
    height: 100vh;
}

h1 {
    border-width: thin 0;
    border-style: solid;
    border-color: black;
}

h2, h3 {
    border-width: 0 0 thin 0;
    border-style: solid;
    border-color: black;
}

nav.nav {
    color: white;
    background-color: #111;
    height: 100%;
}

nav.nav a {
    color: white;
}

nav.nav .title {
    font-weight: bold;
    text-align: center;
}

nav hr {
    color: white;
    margin: 0.5rem 0;
}

.nav-link {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

nav.nav .badge {
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

.nav-link:hover {
    color: white;
}
