
{%- macro brief_entries( title, kind, node ) %}
  {%- set entries = list( node.children | filter_kind( kind ) ) %}
  {%- if entries %}
    <section class="group">
    <h2 class="badge rounded-pill bg-dark text-white w-100 px-1">{{title}}</h2>
    {%- for n in entries %}
      <section class="member px-2">
        {%- set aid = anchor( n ) %}
        {% if aid %}<a id="{{aid}}"></a>{% endif %}
        <h3 class="my-2">{{n.name}}</h3>
        <hr class="border-dark opacity-100">
        <div class="mx-3">
        {{- n.auto }}
        {%- if n.kind not in ['class','struct','namespace','global'] %}{{ n.user }}{%- endif %}
        </div>
      </section>
    {%- endfor %}
    </section>
  {%- endif %}
{%- endmacro %}

{%- macro brief_groups( node ) %}
  {%- set entries = list( node.children | filter_kind( 'group' ) ) %}
  {%- for group in entries %}
    <section class="group">
    <h2 class="badge rounded-pill bg-dark text-white w-100">{{group.name}}</h2>
    {%- for n in group.children %}
      <section class="member px-2">
      <h3 class="my-2">{{n.name}}</h3>
      <hr class="border-dark opacity-100">
      <div class="mx-3">
      {{- n.short }}
      </div>
      </section>
    {%- endfor %}
    </section>
  {%- endfor %}
{%- endmacro %}

{%- macro toc_entries( title, kind, node ) %}
{%- set entries = list( node.children | filter_kind( kind ) ) %}
{%- if entries %}
<div class="badge rounded-pill bg-light text-black my-1">{{title}}</div>
{%- for n in node.children | filter_kind( kind ) %}
    <a class="btn-link text-white my-1" href="{{n.link}}">{{n.name}}</a>
{%- endfor %}
{%- endif %}
{%- endmacro %}

{%- macro toc_groups( node ) %}
{%- set entries = list( node.children | filter_kind( 'group' ) ) %}
{%- for group in entries %}
<div class="badge rounded-pill bg-light text-dark">{{group.name}}</div>
{%- for n in group.children %}
  <a class="nav-link" href="{{n.link}}>{{n.name}}</a>
{%- endfor %}
{%- endfor %}
{%- endmacro %}

{%- macro template_listing( node, display ) %}
{{- display( 'Namespaces', 'namespace', node ) }}
{{- display( 'Friends', 'friend', node ) }}
{{- display( 'Classes', [ 'class', 'struct' ], node ) }}
{{- display( 'Types', 'typedef', node ) }}
{{- display( 'Constructors', 'constructor', node ) }}
{{- display( 'Destructor', 'destructor', node ) }}
{{- display( 'Methods', 'method', node ) }}
{{- display( 'Fields', 'field', node ) }}
{{- display( 'Functions', 'function', node ) }}
{{- display( 'Variables', 'variable', node ) }}
{{- display( 'Unknowns', 'unknown', node ) }}
{%- endmacro %}

{%- macro toc_listing( node, title ) %}
<div class="d-flex flex-column col-2 h-100 px-2 bg-dark scrollbar-hidden">
{%- if node.kind == 'global' %}
  <div class="text-white text-center font-weight-bold">{{title}}</div>
{%- else %}
  <div class="text-white text-center font-weight-bold">{{title}} {{node.name}}</div>
{%- endif %}
{{- toc_groups( node ) }}
{{- template_listing( node, toc_entries ) }}
<div class="flex-fill h-100"></div>
<div class="my-5"></div>
</div>
{%- endmacro %}

{%- macro standard_listing( node, title ) %}
<div class="d-flex flex-column col-10 h-100">
  {%- if node.kind == 'global' %}
  <h1 class="text-center">{{title}}</h1>
  {%- else %}
  <h1 class="text-center">{{title}} {{node.name}}</h1>
  {%- endif %}
  <hr class="border-dark opacity-100">
  <div class="wh-100 px-3 scrollbar-hidden">
  {{- node.auto }}
  {{- node.user }}
  {{- brief_groups( node ) }}
  {{- template_listing( node, brief_entries ) }}
  <div class="my-5"></div>
  </div>
</div>
{%- endmacro %}

