
{%- macro info( node, title ) %}
<div class="d-flex flex-column col-10 h-100">
  {%- if node.kind == 'global' %}
  <h1 class="text-center">{{title}}</h1>
  {%- else %}
  <h1 class="text-center">{{title}} {{node.name}}</h1>
  {%- endif %}
  <hr class="border-dark opacity-100">
<div class="wh-100 px-3 scrollbar-hidden">
  {%- if node.decl %}
  <pre class="highlight"><code class="language-cpp hljs">{{- node.decl }};</code></pre>
  {%- endif %}
  {{- node.comments }}
  {%- for group in node.children %}
    <section class="group">
    <h2 class="badge rounded-pill bg-dark text-white w-100">{{group.name}}</h2>
    {{- group.comments }}
    {%- for n in group.children %}
      <section class="member px-2">
        {%- set aid = anchor( n ) %}
        {% if aid %}<a id="{{aid}}"></a>{% endif %}
        <h3 class="my-2">{{n.name}}</h3>
        <hr class="border-dark opacity-100">
        <div class="mx-3">
          {%- if n.decl %}
          <pre class="highlight"><code class="language-cpp hljs">{{- n.decl }};</code></pre>
          {%- endif %}
        {%- if n.kind not in ['class','struct','namespace','global'] %}
        {{ n.comments }}
        {%- endif %}
        </div>
      </section>
    {%- endfor %}
    </section>
  {%- endfor %}

  <div class="my-5"></div>
</div>
</div>
{%- endmacro %}
